.top-bar


%section
  %h2(class='sectitle')
    Retro List
    %form(action='/download.json' method='get')
      %input(type='submit' value='Download' class='button')
  %ul(class='todo-list')
    - if not @todos.nil?
      - @todos.each do |todo|
        %li(class='todo')
          %p(class='content')
            #{todo.content}
          .todo-bottom-item
            %span.voteicon
              %form(action='/todo/vote/#{todo.id}' method='post')
                %input(type='submit' value='⇡')
              %span.points
                #{todo.points ? todo.points : 0}
            %span.deleteicon    
              %form(action='/todo/delete/#{todo.id}' method='post')
                %input(type='submit' value='x' class='button')
%section

  %form(action='/todo/new' method='post' class='newtodo-form')
    -# %input(type='text' placeholder='content...' name='content')
    %textarea(placeholder='Enter Like/Wish' name='content')
    %input(type='submit' value='Send' class='button')
