!!!
%html(lang='ja')
  %head
    %title
      TodoApp
    %meta(content='text/html' charset='utf-8')
    %link(rel='stylesheet' href='/css/reset.css')
    %link(rel='stylesheet' href='/css/main.css')
  %body
    .container
      .logo
        %a(href='/')
          Todo App
      != yield
